{% extends "layout.html" %}

{% set pageId = "page-search" %}

{% block title %}
    <title>ecollect</title>
{% endblock title %}

<!-- Linking to our CSS files -->
{% block styles %}
    <link rel="stylesheet" href="style/search.css">
{% endblock styles %}

{% block content %}
    <div class="content">

        <div class="logo">
                <img src="assets/icones/logo.svg" alt="Logo">
            </div>
        
            <form action="search" autocomplete="off">
                <div class="search field">
                    <input type="text" name="search" placeholder="search by city">
                    <button>
                        <img src="assets/icones/search.svg" alt="Search">
                    </button>
                </div>
            </form>

            <div class="external-link">
                <a href="/create-point">
                    <span></span>
                    register your waste collection point
                </a>
        </div>

    </div>
{% endblock content %}